<div class="container">
	<div class="row  cc">
		<div class="col-xs-3">
			<%=image_tag"child_1.png"%>
		</div>
		<div class="col-xs-8">
			<p style="color:white">儿童感冒气象风险</p>
			<div class="cb text-center">
				<div class="col-xs-15 cbun "style="background-color:green;color:white" >低</div>
				<div class="col-xs-15 cbun" style="background-color:#00a0e9;color:white" >轻微</div>
				<div class="col-xs-15 cbun" style="background-color:yellow;color:white" >中等</div>
				<div class="col-xs-15 cbun" style="background-color:orange;color:white" >较高</div>
				<div class="col-xs-15 cbun" style="background-color:red;color:white" >高</div>	
			</div>
		</div>
	</div>
</div>
<hr class="divider"></hr>
<div class="container ctoday">
	<div class="cshadow">
		<div class="row">
			<div class="col-xs-2">
				<div class="cday" style="color:white;">今天</div>
			</div>
			<div class="col-xs-6	">
				<div class="cbtn-set">
					<div class="col-xs-15 cbutn ">&nbsp;</div>
					<div class="col-xs-15 cbutn ">&nbsp;</div>
					<div class="col-xs-15 cbutn btn-color-3">&nbsp;</div>
					<div class="col-xs-15 cbutn ">&nbsp;</div>
					<div class="col-xs-15 cbutn ">&nbsp;</div>	
				</div>
			</div>
		</div>
		<hr class="divider"></hr>
		<div class="content-1" style="color:white">防范人群: 体质非常差的小朋友</div>
		<div class="content-2" style="color:white">防护建议：气温14-17度，气温较今日下降明显，请根据温度变化及时添衣。</div>
	</div>
	<div class="cshadow">
		<div class="row">
			<div class="col-xs-2">
				<div class="cday" style="color:white;">明天</div>
			</div>
			<div class="col-xs-6	">
				<div class="cbtn-set">
					<div class="col-xs-15 cbutn  btn-color-1">&nbsp;</div>
					<div class="col-xs-15 cbutn ">&nbsp;</div>
					<div class="col-xs-15 cbutn">&nbsp;</div>
					<div class="col-xs-15 cbutn ">&nbsp;</div>
					<div class="col-xs-15 cbutn ">&nbsp;</div>	
				</div>
			</div>
		</div>
		<hr class="divider"></hr>
		<div class="content-1" style="color:white">防范人群: 体质非常差的小朋友</div>
		<div class="content-2" style="color:white">防护建议：气温14-26度，气温较前日明显上升，请根据温度变化及时更换衣物。</div>
	</div>
</div>


	<script>
  // To attach Backstrech as the body's background
  $.backstretch("/assets/background.png");
</script>
