<div class="row">
	<div class="col-xs-2">
		<div class="day" style="color:white;">今</div>
	</div>
	<div class="col-xs-10">
		<div class="btn-set">
			<div class="col-xs-15 butn ">&nbsp;</div>
			<div class="col-xs-15 butn ">&nbsp;</div>
			<div class="col-xs-15 butn btn-color-3">&nbsp;</div>
			<div class="col-xs-15 butn ">&nbsp;</div>
			<div class="col-xs-15 butn ">&nbsp;</div>	
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-2">
		<div class="day" style=" color:white;">明</div>
	</div>
	<div class="col-xs-10">
		<div class="btn-set">
			<div class="col-xs-15 butn btn-color-1">&nbsp;</div>
			<div class="col-xs-15 butn">&nbsp;</div>
			<div class="col-xs-15 butn">&nbsp;</div>
			<div class="col-xs-15 butn">&nbsp;</div>
			<div class="col-xs-15 butn">&nbsp;</div>	
		</div>
	</div>
</div>